<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>Customer Details</h2>
<p>
    <p><b>Name:</b> <%= customer.lastName %>, <%= customer.firstName %></p>
    <p><b>Phone Number:</b> <%= customer.phone %></p>
    <p><b>E-mail:</b> <%= customer.email %></p>
    <p><b>Address:</b> <%= customer.address %></p>
    <a href="/customer/<%= customer._id %>/edit" class="button">Update Customer Info</a> <a href="/order/<%= customer._id %>/newOrder" class="button">Place order</a>
</p>

<h2>Order History</h2>
<% if (!order.length) { %>
    <p>No orders found.</p>
<% } else { %>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Envelope #</th>
            <th>Order ID</th>
            <th>Envelope Details</th>
            <th>Status</th>
            <th>Promise Time</th>
            <th>Exceptions</th>
            <th>Order Date</th>
            <th>Finish Date</th>
            <th>Sold Date</th>
        </tr>
    </thead>
    <tbody>
        <% let num = 1 %>
        <% order.forEach(order => { %>
            <tr>
                <td><%= num %></td>
                <td><a href="/order/<%= order._id %>"><%= order.envelopeNum %></a></td>
                <td><%= order.orderId %></td>
                <td><%= order.details %></td>
                <td><%= order.status %></td>
                <td><%= order.promiseTime %></td>
                <td></td>
                <td><%= order.orderTime %></td>
                <td><%= order.completed %></td>
                <td><%= order.sold %></td>
            </tr>
            <% num++ %>
        <% }) %>
        <!-- <tr>
            <td>1</td>
            <td>477902</td>
            <td>2042520132699</td>
            <td>16x20 Internet Poster</td>
            <td>Sold</td>
            <td>07/22/22 8:30 AM</td>
            <td></td>
            <td>07/21/22 8:30 AM</td>
            <td>07/21/22 9:26 PM</td>
            <td>07/22/22 10:09 AM</td>
        </tr> -->
    </tbody>
</table>
<% } %>


<%- include('partials/footer') -%>