<%- include('partials/header') -%>


<h4>Order Search</h4>
<form action="/workspace/search">
	<label for="search-query">Enter phone number, last name, envelope number, or order number:</label>
	<input type="search" name="filter">
	<button id="searchBtn">Search</button>
</form>
<p><a href="">Advanced Search</a> (Search by product)</p>

<div class="col-2">
	<%- include('partials/workspace') -%>
	
	<section>
		<h3>Notes</h3>

		<button id="addNote">Add new note</button>
		<!-- new note form -->
		<form action="/workspace/addWorkspaceNote" method="POST" id="form" class="hidden">
			<textarea name="workspaceNote" id="" cols="" rows="7"></textarea>
			<button>Submit</button>
		</form>
	
		<ul class="workspaceNotes">
			<% workspaceNotes.forEach( note => { %>
				<% if (note._id == noteId) { %>
				<form action="/workspace/update/<%=note._id%>" method="POST" id="editForm">
					<textarea name="updatedNote" id="" cols="" rows="7"><%= note.note %></textarea>
					<button type="submit">Update Note</button> 
					<a href="/workspace">Cancel</a>
				</form>
				<% } else { %>
					<!-- if note is unresolved, display note -->
					<% if (note.resolved === false) { %>							
					<li class='note' data-id='<%=note._id%>'>
						<%= note.note %>
						<form action="/workspace/markResolved/<%= note._id %>" method="POST" class="resolvedBtn">
							<button type="submit">Mark Resolved</button>
						</form> | 
						<a href="/workspace/<%= note._id %>">Edit</a> | 
						<a href="/workspace/delete/<%= note._id %>">Delete</a>
						<span>Added on: <%= note.createdOn || note.date %> by Jeremy Sanders</span> 	
					</li>
					<% } %>						
				<% } %>
			<% }) %>    
		</ul>
	</section>
</div>


<%- include('partials/footer') -%>