<%- include('partials/header') -%>


<section class="notes">
	<h2>Notes History</h2>
	<a href="/workspace">Return to Workspace</a>
	<form action="/note/:id" method="GET" id="editForm" class="hidden">
		<textarea name="updatedNote" id="" cols="" rows="7" placeholder=""></textarea>
		<button id="updateNoteBtn" type="submit">Update Note</button>
	</form>
	<ul class="workspaceNotes">
		<% workspaceNotes.forEach( note => { %>
			<% if (note.resolved === true) { %>
			<li class='note' data-id='<%=note._id%>'>					
				<%= note.note %>
				Resolved
				<span>Added on: <%= note.createdOn || note.date %> by Jeremy Sanders</span>
			</li>
				<% } else { %>
					<li class='note' data-id='<%=note._id%>'>
					<%= note.note %>
					<form action="/note/markResolved/<%= note._id %>" method="POST" class="resolvedBtn">
						<button type="submit">Mark Resolved</button>
					</form>
| <a href="/note/<%= note._id %>">Edit</a> | <a href="/note/delete/<%= note._id %>">Delete</a>
					<span>Added on: <%= note.createdOn || note.date %> by Jeremy Sanders</span> 							
				<% } %>
			</li>
		<% }) %>    
	</ul>
</section>

<%- include('partials/footer') -%>
