<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>New Order for <%= customer.lastName %>, <%= customer.firstName %></h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Processing Time</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <form action="/order/<%= customer._id %>/submitOrder" method="POST">
        <% product.forEach(product => { %>
            <!-- <tr>
                <td><%= product.name %></td>
                <td><%= product.processTime %></td>
                <td><input type="number" name=""></td>
            </tr> -->
            <tr data-id='<%=product._id%>'>
                <td>
                    <label for="<%= product.name %>" name="product" value="<%= product.name %>"><%= product.name %></label>
                </td>
                <td>
                    <label for="<%= product.processTime %>" name="processTime"><%= product.processTime %></label>
                </td>
                <td>
                    <input type="number" name="quantity" value=0>
                </td>
            </tr>
        <% }) %>
                <button type="submit">Place Order</button>
            </form>
    </tbody>
</table>
<!-- <button>Submit</button> -->


<%- include('partials/footer') -%>