<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>New Order for <%= customer.lastName %>, <%= customer.firstName %></h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Processing Time</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <% product.forEach(product => { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.processTime %></td>
                <td><input type="number" name=""></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<button>Submit</button>


<%- include('partials/footer') -%>