<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>Details for Order ID: <%= order.id %></h2>
<p><b>Customer Name:</b> <%= customer.lastName %>, <%= customer.firstName %></p>
<p><b>Phone Number:</b> <%= customer.phone %></p>
<a href="workspace/customer/<%= customer._id %>/edit" class="button">Update Customer Info</a>
<a href="workspace/customer/<%= customer._id %>/getHistory" class="button">View Customer History</a>

<h2>Envelope Details</h2>
<table>
    <thead>
        <tr>
            <th>Envelope ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Promise Time</th>
            <th>Retail Price</th>
            <th>Amount Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id='<%=order._id%>'>
            <td>
                <%= order.envelopeNum %>
            </td>
            <td>
                <%= order.details %>
            </td>
            <td>
                <%= order.status %>
            </td>
            <td>
                <%= order.promiseTime %>
            </td>
            <td>
                <!-- retail price -->
            </td>
            <td>
                <!-- amount paid -->
            </td>
        </tr>
    </tbody>
</table>


<%- include('partials/footer') -%>