<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>Details for Order ID: <%= order.id %></h2>
<p><b>Customer Name:</b> <%= order.customer.lastName %>, <%= order.customer.firstName %></p>
<p><b>Phone Number:</b> <%= order.customer.phone %></p>
<a href="../customer/<%= order.customer._id %>/edit" class="button">Update Customer Info</a>
<a href="../customer/<%= order.customer._id %>" class="button">View Customer History</a>

<h2>Envelope Details</h2>
<table>
    <thead>
        <tr>
            <th>Envelope ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Promise Time</th>
            <th>Retail Price</th>
            <th>Amount Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id='<%=order._id%>'>
            <td>
                <%= order.envelopeNum %>
            </td>
            <td>
                <%= order.details %>
            </td>
            <td>
                <%= order.status %>
            </td>
            <td>
                <%= order.promiseTime.toLocaleString('en-US', { timeZone: 'America/New_York'}) %>
            </td>
            <td>
                <!-- retail price -->
            </td>
            <td>
                <!-- amount paid -->
            </td>
        </tr>
    </tbody>
</table>




		<table>
			<thead>
				<tr>
					<th>Envelope #</th>
					<th>Order ID</th>
					<th>Envelope Details</th>
					<th>Status</th>
					<th>Promise Time</th>
					<th>Retail Price</th>
					<th>Amount Paid</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>477902</td>
					<td>2042520132699</td>
					<td>16x20 Internet Poster</td>
					<td>Processing</td>
					<td>07/22/22 8:30 AM</td>
					<td>19.99</td>
					<td>19.99</td>
				</tr>
			</tbody>
		</table>

		<!-- tabbed links -->
		<p><a href="" class="button">Product Details</a></p>
        <table>
            <thead>
                <tr>
                    <th>Order Details</th>
                    <th>Quantity</th>
                    <th>Per unit Price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4x6 Internet Print</td>
                    <td>7</td>
                    <td>$0.38</td>
                    <td>$2.66</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>$2.66</td>
                </tr>
            </tfoot>
        </table>

        <h3>Complete Envelope</h3>
        <form action="/order/markDone/<%= order._id %>" method="POST">
            <label for="productType">No of 4x6 Internet Print</label>
                <input type="text" value="7">
            <button type="submit">Complete Envelope</button>
        </form>
		<p><a href="" class="button">Create Exception</a></p>
		<p><a href="" class="button">Envelope History</a></p>
        <table>
            <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>User</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <% note.forEach( note => { %>
                <tr>
                    <td><%= note.created %></td>
                    <td><%= note.user %></td>
                    <td><%= note.note %> 
                        <!-- if the creator of note is the logged in user, display Edit and Remove -->
                        <% if (note.user == user) { %>
                            <a href="/note/<%= note._id %>">Edit</a> | 
                            <a href="/note/delete/<%= note._id %>">Remove</a></td>
                        <% } %>
                </tr>
                        
                <% }) %>
                <% if (order.completed) { %>
                <tr>
                    <td><%= order.completed %></td>
                    <td><%= user %></td>
                    <td>Envelope Done</td>
                </tr>
                <% } %>
                <tr>
                    <td><%= order.orderTime %></td>
                    <td>Internet</td>
                    <td>Order has been submitted</td>
                </tr>
            </tbody>
        </table>

		<section class="order-functions">
			<a href="" class="button">Drop from Workqueue</a>
			<a href="" class="button">Forms</a>
			<a href="" class="button">Update Envelope Details</a>
			<a href="" class="button">Reprint Label</a>
			<a href="" class="button">Reprint Claim Check</a>
			<a href="" class="button">Resend Internet Order</a>
		</section>

		<aside>
			<h5>Notes</h5>
			<button id="addNote">Add note</button>
            <!-- new note form -->
            <form action="/note/addOrderNote/<%= order._id %>" method="POST" id="form" class="hidden">
                <textarea name="orderNote" id="" cols="" rows="7"></textarea>
                <button>Submit</button>
            </form>
			<p>09/20/22 09:32 AM: Called customer to pick up order; left voicemail. Discard order after 09/27/22.</p>
			<p>06/02/22 02:11 PM: Called customer regarding delay due to paper out of stock.</p>
		</aside>


<%- include('partials/footer') -%>