<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>Details for Order ID: <%= order.id %></h2>
<p><b>Customer Name:</b> <%= order.customer.lastName %>, <%= order.customer.firstName %></p>
<p><b>Phone Number:</b> <%= order.customer.phone %></p>
<a href="../customer/<%= order.customer._id %>/edit" class="button">Update Customer Info</a>
<a href="../customer/<%= order.customer._id %>" class="button">View Customer History</a>

<h2>Envelope Details</h2>
<table>
    <thead>
        <tr>
            <th>Envelope ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Promise Time</th>
            <th>Retail Price</th>
            <th>Amount Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id='<%=order._id%>'>
            <td>
                <%= order.envelopeNum %>
            </td>
            <td>
                <%= order.details %>
            </td>
            <td>
                <%= order.status %>
            </td>
            <td>
                <%= order.promiseTime.toLocaleString('en-US', { timeZone: 'America/New_York'}) %>
            </td>
            <td>
                <!-- retail price -->
            </td>
            <td>
                <!-- amount paid -->
            </td>
        </tr>
    </tbody>
</table>




		<table>
			<thead>
				<tr>
					<th>Envelope #</th>
					<th>Order ID</th>
					<th>Envelope Details</th>
					<th>Status</th>
					<th>Promise Time</th>
					<th>Retail Price</th>
					<th>Amount Paid</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>477902</td>
					<td>2042520132699</td>
					<td>16x20 Internet Poster</td>
					<td>Processing</td>
					<td>07/22/22 8:30 AM</td>
					<td>19.99</td>
					<td>19.99</td>
				</tr>
			</tbody>
		</table>

		<section class="order-tabs">
            <button id="product-details-btn">Product Details</button>
            <button id="complete-envelope-btn">Complete Envelope</button>
            <button id="create-exception-btn">Create Exception</button>
		    <button id="envelope-history-btn">Envelope History</button>
            <button id="add-note-btn">Add Note</button>
        </section>

        <!-- <label>
            <select class="" name="order-tabs">
              <option value="product-details">Product Details</option>
              <option value="chocolate">Chocolate</option>
              <option value="sardine">Sardine</option>
              <option value="vanilla">Vanilla</option>
            </select>
        </label> -->

        <!-- product details -->
        <div id="product-details" class="hidden">
        <table>
            <thead>
                <tr>
                    <th>Order Details</th>
                    <th>Quantity</th>
                    <th>Per unit Price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4x6 Internet Print</td>
                    <td>7</td>
                    <td>$0.38</td>
                    <td>$2.66</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>$2.66</td>
                </tr>
            </tfoot>
        </table>
        </div>

        <div id="complete-envelope" class="hidden">
        <h3>Complete Envelope</h3>
        <form action="/order/markDone/<%= order._id %>" method="POST">
            <label for="productType">No of 4x6 Internet Print</label>
                <input type="number" value="7">
            <button type="submit">Complete Envelope</button>
        </form>
        </div>

        <div id="create-exception">
            <form action="/order/markDone/<%= order._id %>" method="POST">
                <label for="exception">Exception Type</label>
                <select name="refused" id="refused">Refused</select>
                <select name="cancel" id="cancel">Cancel</select>
                <select name="unsellable" id="unsellable">Unsellable</select>
                <br>
                <label for="reason">Reason for Exception</label>
                <input type="text" value="CUSTOMER DID NOT LIKE QUALITY">
                <br>
                <label for="comments">Comments</label>
                <textarea name="comments" id="" cols="30" rows="10"></textarea>
                <br>
                <label for="prints">No of 4x6 Internet Print</label>
                    <input type="number"> of 7
                <br>
                <button type="submit">Save Exception</button>
            </form>
            </div>
        </div>
		
        <div id="envelope-history">
        <table>
            <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>User</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <% note.forEach( note => { %>
                <tr>
                    <td><%= note.created %></td>
                    <td><%= note.user %></td>
                    <td><%= note.note %> 
                        <!-- if the creator of note is the logged in user, display Edit and Remove -->
                        <% if (note.user == user) { %>
                            <a href="/note/<%= note._id %>">Edit</a> | 
                            <a href="/note/delete/<%= note._id %>">Remove</a></td>
                        <% } %>
                </tr>
                        
                <% }) %>
                <% if (order.completed) { %>
                <tr>
                    <td><%= order.completed %></td>
                    <td><%= user %></td>
                    <td>Envelope Done</td>
                </tr>
                <% } %>
                <tr>
                    <td><%= order.orderTime %></td>
                    <td>Internet</td>
                    <td>Order has been submitted</td>
                </tr>
            </tbody>
        </table>
        </div>

		<div id="new-order-note" class="hidden">
            <!-- on click event doesn't work when button is removed -->
			<button id="addNote">Add note</button>
            <!-- new note form -->
            <form action="/note/addOrderNote/<%= order._id %>" method="POST">
                <textarea name="orderNote" id="" cols="" rows="7"></textarea>
                <button>Submit</button>
            </form>
			<p>09/20/22 09:32 AM: Called customer to pick up order; left voicemail. Discard order after 09/27/22.</p>
			<p>06/02/22 02:11 PM: Called customer regarding delay due to paper out of stock.</p>
		</div>

        <section>
            <div class="order-view">
                <!-- <%- include('partials/product-details') -%> -->
            </div>
            <section class="order-functions">
                <a href="" class="button">Drop from Workqueue</a>
                <a href="" class="button">Forms</a>
                <a href="" class="button">Update Envelope Details</a>
                <a href="" class="button">Reprint Label</a>
                <a href="" class="button">Reprint Claim Check</a>
                <a href="" class="button">Resend Internet Order</a>
            </section>
        </section>


<%- include('partials/footer') -%>