<%- include('partials/header') -%>


<p><a href="/workspace" class="button">Return to Workspace</a></p>

<h2>Search</h2>
<form action="/workspace/search">
	<label for="search-query">Enter phone number, last name, envelope number, or order number:</label>
	<input type="search" name="filter">
	<button id="searchBtn">Search</button>
</form>
<p><a href="">Advanced Search</a> (Search by product)</p>

<h2>Results for <%= filter %></h2>
	<section>
		<!-- if no results are found, display form to add new customer -->
		<% if (result == 'none') { %>
			<p>No customer orders found.</p>
			<h3>Enter new customer information</h3>
			<form action="/workspace/newCustomer" method="POST">
				<p>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName">
				</p>
				<p>
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName">
				</p>
				<p>
					<label for="phone">Phone Number</label>
					<input type="number" name="phone">
				</p>
				<p>
					<label for="email">E-mail</label>
					<input type="text" name="email">
				</p>
				<p>
					<label for="address">Address</label>
					<input type="text" name="address">
				</p>
				<button type="submit">Submit</button> <a href="/workspace">Cancel</a>
			</form>
		<% } else { %>
			<table>
				<thead>
					<tr>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Phone Number</th>
						<th>Envelope Number</th>
						<th>Order Number</th>
					</tr>
				</thead>
				<tbody>
				<!-- <% for (const el of result) { %> -->
				<% result.forEach( el => { %>
					<tr data-id='<%=el._id%>'>
						<td><a href="/workspace/customer/<%= el._id %>"><%= el.lastName %></a></td>
						<td><%= el.firstName %></td>
						<td><%= el.phone %></td>
						<td>Internet 2042520132699</td>
						<td>Order #00000</td>
					</tr>
					<% console.log(el) %>
				<% }) %>  
				<!-- <% } %> -->
				</tbody>
			</table>
		<% } %>  
	</section>


<%- include('partials/footer') -%>
